.bloque__planminnopad .dropdown-menu {
  width: 300px !important;
  font-size: 14px;
  box-shadow: 29px 33px 5px 0px rgba(0, 0, 0, 0.41);
}

.bloque__planminnopad .dropdown-menu a.dropdown-item {
  background-color: white;
}
.bloque__planminnopad .dropdown-menu a:hover.dropdown-item {
  background-color: #afcbbd;
}
